<html>
  <head>
  <link rel="stylesheet" href="/static/css/w3.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% if title %}
    <title>{{ title }} - HouseOfPi</title>
    {% else %}
    <title>Welcome to HouseOfPi</title>
  {% endif %}
  </head>
  <body>
    <div class="w3-bar w3-green w3-xlarge">
	<ul class="w3-ul">
	    <a class="w3-bar-item w3-button w3-left" href="/index">
	        <li class="w3-padding-16">HouseOfPi</li>
	    </a>
	    <a class="w3-bar-item w3-button w3-right" href="/index">
	        <li class="w3-xxxlarge">
	            <i class="fa fa-home"></i>
	        </li>
	    </a>
	</ul>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
